<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="filename">log/checkuserbot.log</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d %p %c{1.} %m%n</pattern>
            </PatternLayout>
        </Console>
        <File name="FileAppender" filename="${filename}">
            <PatternLayout>
                <pattern>%d %p %c{1.} %m%n</pattern>
            </PatternLayout>
        </File>
        <Async name="AsyncAppender">
            <AppenderRef ref="FileAppender"/>
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="info.prianichnikov.telegram.bot.checkuserbot.CheckUserBotApplication" level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="AsyncAppender"/>
        </Root>
    </Loggers>
</Configuration>